<a href="https://colab.research.google.com/github/AdundoC/DANLspring/blob/main/danl_m1_hw1_adundo_cecilia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How do you assign the value 5 to a variable named x?How do you assign the value 5 to a variable named x?

##Question1

In [ ]:
x=5

Given lst = [1, 2, 3, 4, 5], what does lst[1:4] return?
##Question 2

In [ ]:
list[1, 2, 3, 4]

list[1, 2, 3, 4]

In [ ]:
list[1 :4]

list[slice(1, 4, None)]

1=0 2=1 3=4 4=5
-4  -3  -2  -1

Question 3
How do you create a dictionary with keys "apple", "banana", and "cherry", each with the corresponding values 5, 3, and 7?

fruits-to-values = {'apple':5, 'banana':3, 'cherry':7}

In [ ]:
 {'apple':5, 'banana':3, 'cherry':7}

{'apple': 5, 'banana': 3, 'cherry': 7}

##Question3b
How do you access the value associated with the key "banana" in the dictionary created above?

In [ ]:
 dict_example = {'apple':5, 'banana':3, 'cherry':7}
 dict_example

{'apple': 5, 'banana': 3, 'cherry': 7}

In [ ]:
dict_example['banana']

3

##Question4
True and False

In [ ]:
not (100=='100')

True

In [ ]:
25<36

True

##Question5
Create a new if-elif-else chain that prints "well done" if a score is over 90, “good” if between 40 and 90, and "bad luck" otherwise.

In [ ]:
score = 90

In [ ]:
if score >90:
    print('well done')

## Question 6

In [6]:
name_list = ['coding','for','data','analysts']

In [ ]:
for name in name_list :
       print (name)

In [ ]:
for name in name_list :
      print (name)