<a href="https://colab.research.google.com/github/AdundoC/DANLspring/blob/main/danl_m1_hw1_Adundo_Cecilia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How do you assign the value 5 to a variable named x?How do you assign the value 5 to a variable named x?

##Question1

In [1]:
x=5

Given lst = [1, 2, 3, 4, 5], what does lst[1:4] return?
##Question 2

In [4]:
list[1, 2, 3, 4]

list[1, 2, 3, 4]

In [5]:
list[1 :4]

list[slice(1, 4, None)]

1=0 2=1 3=4 4=5
-4  -3  -2  -1

Question 3
How do you create a dictionary with keys "apple", "banana", and "cherry", each with the corresponding values 5, 3, and 7?

fruits-to-values = {'apple':5, 'banana':3, 'cherry':7}

In [12]:
 {'apple':5, 'banana':3, 'cherry':7}

{'apple': 5, 'banana': 3, 'cherry': 7}

##Question3b
How do you access the value associated with the key "banana" in the dictionary created above?

In [ ]:
 dict {'apple':5, 'banana':3, 'cherry':7}

{'apple': 5, 'banana': 3, 'cherry': 7}

In [16]:
banana=3

##Question4
True and False

In [17]:
not (100=='100')

True

In [18]:
25<36

True

##Question5
Create a new if-elif-else chain that prints "well done" if a score is over 90, “good” if between 40 and 90, and "bad luck" otherwise.

In [32]:
score = 90

In [34]:
if score >90:
    print('well done')

In [43]:
score = 90

if score == 100:
    print("Top marks!")
elif score > 90 and score < 100:
    print("High score!")
elif score > 10 and score <= 90:
    pass
else:
    print("Better luck next time.")